@import url("https://fonts.google.com/specimen/Newsreader");

*{
    font-family: "Newsreader";

}
:root{
    --primary: #000000;
    --secondary: #C0C0C0;
}

.header{
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}


.banner{
    background-color: var(--secondary);
}
.footer{
    background-color: var(--secondary);
}
.banner{
    background-color: var(--secondary);
}

